.card-header {
    background-color: #CA6702 !important;
}

#product-card{
    background-color: #e9d8a6 !important;
    width: 25em;
}

#card shadow{
    background-color: #e9d8a6 !important;
}
.card {
    background-color: #e9d8a6 ;
}

#product-thumbnail {
    background-color: #94d2bd;
    
}
.card-body {
    background-color: #e9d8a6;
    width: max-content 10%;
}